

/* COMMON FOR ALL RESOLUTIONS in BLOCK*/


/* header - mobile */
@media (min-width: 100px) and (max-width: 767px) {
  .pagination-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
    padding: 0;
    list-style: none;
    width: 280px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 44px;
  }

  .pagination-panel a {
    text-decoration: none;
  }

  .pagination-panel__item,
  .pagination-panel__item--selected,
  .pagination-panel__item-pevious,
  .pagination-panel__item-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #7859CF;

    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;

   font-family: "Montserrat Regular", "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;


  }

  .pagination-panel__item--selected {
   font-family: "Montserrat Regular", "Arial";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    background-color: #F8F8F8;
    color: #000000;
  }


  .pagination-panel__item-pevious, .pagination-panel__item-next{
    background: linear-gradient(90deg, #ccc 0%,  #7859cf 100%);
    background-image: url("/icons/stack.svg#arrow-left");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-position: center;
  }

  .pagination-panel__item-pevious span, .pagination-panel__item-next span{
    display: none;
  }


  .pagination-panel__item-next{
    transform:scaleX(-1);
  }

}


/* header - tablet */
@media (min-width: 768px) and (max-width: 1439px) {
  .pagination-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    padding: 0;
    list-style: none;

    margin-top: 40px;
    margin-bottom: 90px;
    padding-right: 20px;
  }

  .pagination-panel a {
    text-decoration: none;
  }

  .pagination-panel__item,
  .pagination-panel__item--selected,
  .pagination-panel__item-pevious,
  .pagination-panel__item-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #7859CF;

    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;

   font-family: "Montserrat Regular", "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;


  }

  .pagination-panel__item--selected {
   font-family: "Montserrat Regular", "Arial";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    background-color: #F8F8F8;
    color: #000000;
  }


  .pagination-panel__item-pevious, .pagination-panel__item-next{
    background-image: unset;
    width:91px;
  }

}



/* header - Destop  */
@media (min-width: 1440px) {
  .pagination-panel {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 8px;
    width: 100%;
    padding: 0;
    list-style: none;

    margin-top: 40px;
    margin-bottom: 90px;
    padding-right: 20px;
  }

  .pagination-panel a {
    text-decoration: none;
  }

  .pagination-panel__item,
  .pagination-panel__item--selected,
  .pagination-panel__item-pevious,
  .pagination-panel__item-next {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #7859CF;

    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;

   font-family: "Montserrat Regular", "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;


  }

  .pagination-panel__item--selected {
   font-family: "Montserrat Regular", "Arial";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;

    background-color: #F8F8F8;
    color: #000000;
  }


  .pagination-panel__item-pevious, .pagination-panel__item-next{
    background-image: unset;
    width:91px;
  }

}
