.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  xxbackground-color: grey;
  padding-left: 20px;
  padding-right: 20px;
}




/* header - mobile */
@media (min-width: 100px) and (max-width: 767px) {

  .header {
    justify-content: center;
  }


  .header-logo {
    display: flex;
    align-items: center;
    xxbackground-color: green;
    height: 60px;
    width: 20%;

    .header__logo-link {
      background-image: url("/images/vector/logo/logo-symbol-icon.svg");
      background-repeat: no-repeat;
      width: 32px;
      height: 36px;
    }
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    xxheight: 0px;
    order: 3;

    .header-menu__item:first-child {
      border-top: solid 1px #F0EBFF;
    }

    .header-menu__item {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      xxheight: 157px;
      width: 100%;
      text-decoration: none;
      text-transform: uppercase;
      font-family: "Montserrat", "Arial";
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #333333;
      border-top: solid 1px #F0EBFF;
      xxborder-bottom: solid 1px #F0EBFF;
      padding: 20px;
    }

    .header-menu__item:last-child {
      border-bottom: solid 1px #F0EBFF;
    }
  }

  .header-user-section {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    xxbackground-color: darkgoldenrod;
    width: 80%;
    height: 60px;
    gap: 8px;

    .header__login-icon {
      width: 60px;
      height: 60px;
      xxbackground-image: url("/icons/login-icon.svg");
      background-image: url("/icons/stack.svg#login-icon");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
    }

    .header__basket-icon {
      width: 60px;
      height: 60px;
      xxbackground-image: url("/icons/basket-icon.svg");
      background-image: url("/icons/stack.svg#basket-icon");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
    }

    .header__menu-icon {
      width: 60px;
      height: 60px;
      xxbackground-image: url("/icons/menu-icon.svg");
      background: white;
      background-image: url("/icons/stack.svg#menu-icon");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
      border-style: none;
    }
  }

}

/* header - tablet */
@media (min-width: 768px) and (max-width: 1439px) {
  .header-logo {
    background-color: green;
    width: 30%;
    height: 80px;
  }

  .header-menu {
    background-color: red;
    width: 25%;
    height: 80px;
  }

  .header-menu-mobile {
    display: none;
    height: 70px;
    background-color: red;
  }

  .header-user-section {
    background-color: blue;
    width: 30%;
    height: 80px;
  }

}



/* header - Destop  */
@media (min-width: 1440px) {

  .header-logo {

    background-color: green;
    width: 30%;
    height: 80px;
  }

  .header-menu {
    background-color: red;
    width: 25%;
    height: 80px;
  }


  .header-user-section {
    background-color: blue;
    width: 30%;
    height: 80px;
  }

}
