.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  background-color: grey;
  padding-left: 20px;
  padding-right: 20px;
}


/* header - mobile */
@media (min-width: 100px) and (max-width: 767px) {

  .header {
    justify-content: flex-start;
  }


  .header-logo {
    display: flex;
    align-items: center;
    background-color: green;
    height: 60px;
    width: 20%;

    .header__logo-link {
      background-image: url("/images/vector/logo/logo-symbol-icon.svg");
      background-repeat: no-repeat;
      width: 32px;
      height: 36px;
    }
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 60px;

    text-decoration:none;
    order: 3;
  }

  .header-user-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: darkgoldenrod;
    width: 80%;
    height: 60px;
    gap:8px;

    .header__login-icon {
      width: 60px;
      height: 60px;
      background-image: url("/icons/login-icon.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
    }

    .header__basket-icon{
      width: 60px;
      height: 60px;
      background-image: url("/icons/basket-icon.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
    }

    .header__menu-icon{
      width: 60px;
      height: 60px;
      background-image: url("/icons/menu-icon.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: center;
    }
  }

}

/* header - tablet */
@media (min-width: 768px) and (max-width: 1439px) {
  .header-logo {
    background-color: green;
    width: 30%;
    height: 80px;
  }

  .header-menu {
    background-color: red;
    width: 25%;
    height: 80px;
  }

  .header-menu-mobile {
    display: none;
    height: 70px;
    background-color: red;
  }

  .header-user-section {
    background-color: blue;
    width: 30%;
    height: 80px;
  }

}



/* header - Destop  */
@media (min-width: 1440px) {

  .header-logo {

    background-color: green;
    width: 30%;
    height: 80px;
  }

  .header-menu {
    background-color: red;
    width: 25%;
    height: 80px;
  }


  .header-user-section {
    background-color: blue;
    width: 30%;
    height: 80px;
  }

}
