
#map{
width: 320px;
height: 420px;

background-color: green;
background-image: url("/images/map/map-mobile@1x.jpg");
background-repeat: no-repeat;
background-size:contain;

margin:auto;
}


/* COMMON FOR ALL RESOLUTIONS in BLOCK*/


/* header - mobile */
@media (min-width: 100px) and (max-width: 767px) {

}


/* header - tablet */
@media (min-width: 768px) and (max-width: 1439px) {

}



/* header - Destop  */
@media (min-width: 1440px) {


}
